<style media="screen">
{
  position:absolute;top:0;right:0;
  *{user-select:none;-webkit-user-select:none;}
}
</style>
<div></div>

<script src="/static/js/dat.gui.js"></script>
<script>
  var me = this;
  var gui = new dat.GUI({ autoPlace: false });
  var controls = me.container.controls;

  controls.rotationSpeed && gui.add(controls, 'rotationSpeed', 0, 0.5);
  controls.bouncingSpeed && gui.add(controls, 'bouncingSpeed', 0, 0.5);

  controls.maxNumberOfObjects && gui.add(controls, 'maxNumberOfObjects', 0, 100);
  controls.hasOwnProperty('rotation') && gui.add(controls, 'rotation');
  controls.hasOwnProperty('randRotation') && gui.add(controls, 'randRotation');
  controls.hasOwnProperty('autoRotation') && gui.add(controls, 'autoRotation');

  controls.addCube && gui.add(controls, 'addCube');
  controls.removeCube && gui.add(controls, 'removeCube');
  controls.outputObjects && gui.add(controls, 'outputObjects');

  controls.numberOfObjects && gui.add(controls, 'numberOfObjects').listen();

  me.append(gui.domElement);
</script>
