<div>
  <div class="stage"></div>
  <div component="stats" src="/static/component/stats.htm" version=""></div>
  <div component="dat.gui" src="/static/component/dat.gui.htm" version="1"></div>
  <div component="window_resize" src="/static/component/window.resize.htm" version=""></div>
</div>
<script src="/static/js/three.js"></script>
<script>
var me = this;
var scene = new THREE.Scene();
var camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 0.1, 1000);
var renderer = new THREE.WebGLRenderer();
renderer.setClearColor(0xEEEEEE);
renderer.setSize(window.innerWidth, window.innerHeight);
renderer.shadowMapEnabled = true;

var planeGeometry = new THREE.PlaneBufferGeometry(60, 40);
var planeMaterial = new THREE.MeshLambertMaterial({color:0xcccccc});
var plane = new THREE.Mesh(planeGeometry, planeMaterial);

plane.rotation.x = -0.5 * Math.PI;
plane.position.x = 7;
plane.position.y = 0;
plane.position.z = -5;
plane.receiveShadow = true;

scene.add(plane);

var axes = new THREE.AxisHelper(30);
scene.add(axes);

var spotLight = new THREE.SpotLight(0xffffff);

spotLight.position.set(-40, 60, -10);
spotLight.castShadow = true;

scene.add(spotLight);

var ambientLight = new THREE.AmbientLight(0x0c0c0c);
scene.add(ambientLight);

scene.fog = new THREE.Fog(0xffffff, 0.015, 100);
// scene.fog = new THREE.FogExp2(0xffffff, 0.01);
// scene.overrideMaterial = new THREE.MeshLambertMaterial({color:0xffffff});

camera.position.x = -30;
camera.position.y = 40;
camera.position.z = 30;
camera.lookAt(scene.position);
x = me;
var controls = me.controls = {
  rotationSpeed: 0.02,
  numberOfObjects: 1,
  autoRotation: false,
  outputObjects: function(){
    console.log(scene.children);
  },
  vertices: [
    [1,3,1],
    [1,3,-1],
    [1,-1,1],
    [1,-1,-1],
    [-1,3,-1],
    [-1,3,1],
    [-1,-1,-1],
    [-1,-1,1],
  ]
};

function createVertices(){
  return controls.vertices.map(function(vertice){
    return new THREE.Vector3(vertice[0],vertice[1],vertice[2]);
  });
}

function addCube(){
  // var vertices = [
  //   new THREE.Vector3(1,3,1),
  //   new THREE.Vector3(1,3,-1),
  //   new THREE.Vector3(1,-1,1),
  //   new THREE.Vector3(1,-1,-1),
  //   new THREE.Vector3(-1,3,-1),
  //   new THREE.Vector3(-1,3,1),
  //   new THREE.Vector3(-1,-1,-1),
  //   new THREE.Vector3(-1,-1,1)
  // ];
  var vertices = createVertices();
  var faces = [
    new THREE.Face3(0,2,1),
    new THREE.Face3(2,3,1),
    new THREE.Face3(4,6,5),
    new THREE.Face3(6,7,5),
    new THREE.Face3(4,5,1),
    new THREE.Face3(5,0,1),
    new THREE.Face3(7,6,2),
    new THREE.Face3(6,3,2),
    new THREE.Face3(5,7,0),
    new THREE.Face3(7,2,0),
    new THREE.Face3(1,3,4),
    new THREE.Face3(3,6,4)
  ];

  var cubeGeometry = new THREE.Geometry();
  cubeGeometry.vertices = vertices;
  cubeGeometry.faces = faces;
  cubeGeometry.computeFaceNormals();
  var cubeMaterial = new THREE.MeshLambertMaterial({color:Math.random() * 0xffffff});
  var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);
  cube.castShadow = true;
  cube.name = "cube-" + scene.children.length;
  with(cube.rotation){
    if(this.randRotation){
      x = Math.random()*2*Math.PI;
      y = Math.random()*2*Math.PI;
      z = Math.random()*2*Math.PI;
    }
  }
  scene.add(cube);
  controls.numberOfObjects = scene.children.length;
  return cube;
}

var cube = addCube();

me.on('scene_update',function(){
  controls.autoRotation && scene.traverse(function(obj){
    if(obj instanceof THREE.Mesh && obj != plane){
      with(obj.rotation){
        x += controls.rotationSpeed;
        y += controls.rotationSpeed;
        z += controls.rotationSpeed;
      }
    }
  });
});

me.render();

me.on('window_resize', function(){
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();
  renderer.setSize(window.innerWidth, window.innerHeight);
});

var stage = me.find('.stage').get(0);
stage.appendChild(renderer.domElement);
renderScene();

function renderScene(){
  me.trigger({type:'scene_update'});
  requestAnimationFrame(renderScene);
  renderer.render(scene, camera);
}
</script>
