<div>
  <center><h1>PingPong</h1></center>

  <div component="/static/component/qrcode.htm" version="window.getVersion()"></div>
  <div component="/static/component/socket.htm" version="window.getVersion()"></div>
  <div component="/static/component/pingpong_stage.htm" version="window.getVersion()"></div>
</div>
<script>
  var me = this;

  me.connect = $.cacheLocalJsonData('etc','pingpong_connect',$.randomId());
  me.qrcode_url = location.origin+location.pathname+location.search.replace(/^\??/,'?'+
      '_route=mobile_handle&connect='+me.connect
    +'&')+location.hash;

  me.render();

</script>
