<div>
  <div component="/static/component/qrcode.htm" version="window.getVersion()"></div>
  <h1>PingPong</h1>
</div>
<script src="/static/js/smartSocket.js"></script>
<script>
  var me = this;
  me.qrcode_url = location.origin+location.pathname+location.search.replace(/^\??/,'?'+
      '_route=mobile_handle'
    +'&')+location.hash;

  me.render();

  me.find('h1').on('click',function(){
    me.trigger({type:'mobile_ready'});
  });

  var socket = new smartSocket("ws://"+location.host+'/_ws');

  socket.sendOnConnected({
    'connected_msg': new Date().valueOf()
  });

  socket.addMessageListener(function(msg){
    console.log(msg);
  });

</script>
